body 
{
    background-color: grey;
}
.alert 
{
  padding: 10px;
  background-color: blue;
  border-color: black;
  border-radius: 3px;
  border-style: solid;
  color: white;
}
.closebtn:hover
 {
 color: red;
 cursor: pointer;
}